<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <h2>Inventory Application</h2>
    <%- include("navbar.ejs") %>
    <div class="form">
        <h2>add category</h2>
        <form method="POST" action="/newmanufacturer">
           <li>
               <label for="manufacturer">Brand</label>
               <input type="text" name="manufacturer" id="manu">
           </li>
           <li>
               <label for="country">Country</label>
               <input type="text" name="country" id="country">
           </li>
           <li>
               <label for="countinent">Continent</label>
               <input type="text" name="continent" id="cont">
           </li>
        
           <button type="submit">
                  submit    
            </button>
        </form>
    </div>

  </body>
</html>
