body{
    background-color: aquamarinee;
}
h1{
    margin: auto;
    margin-bottom: 1px;
    margin-top: 30px;
}
h4{
    margin: auto;
    margin-bottom: 20px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    margin: auto;

}
.menu{
    width: 100%;
    background-color: rgb(44, 8, 78);
    height: 70px;
    margin-bottom: 20px;
}

ul{
    display: inline-flex;
    width: 360px;
    height: 30px;
    align-items: center;
    list-style: none;
}
li{
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
button{
    margin-top: 20px;
}
.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    background-color: antiquewhite;
    margin: auto;
}
img{
    max-width: 380px;
    margin: 10px;
}