
body{
    margin-left: 100px;
}

.form{
    margin-left: 0px;
}
h2{
    color:blue;
}
li{
    display: flex;
}
input{
    width: 150px;
}
label{
    width: 100px;
    background-color: rgb(196, 244, 244);
    margin-right: 10px;
    font-size: 1.1rem;
}