body{
    background-color: aquamarinee;
    width: fit-contentr;

}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
}
li{
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
}
li > a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
a:hover{
    color: deeppink;
}
button{
    margin-top: 20px;
}